 <!-- Footer  -->
 <footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright &copy; 2020 All Rights Reserved By <span>Gabbenet Inc.</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Back To Top -->
    <a id="back-to-top" (click)="scrollToTop1()" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll hidden-sm hidden-xs" title="home" role="button">
        <i class="fa fa-angle-up"></i>
    </a>

</footer>
<!-- Footer Ends -->