<!-- Header -->
<header>
    <nav class="navbar navbar-fixed-top" >
        <div class="container-fluid">
            <div class="site-nav-wrapper">

                <div class="navbar-header">

                    <!-- Mobile Menu Open Button -->
                    <span id="mobile-nav-open-btn">&#9776;</span>

                    <!-- Logo -->
                    <a class="navbar-brand smooth-scroll" routerLink="/">
                        <img src="../../../assets/img/logo/gabelogo1.png" alt="logo1">
                    </a>
                </div>

                <!-- Main Menu -->
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a class="smooth-scroll mynav" routerLink="/">Home</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="/about">About</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="/quiz">Quiz</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="/tutorials">Tutorials</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="/games">Games</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="/blog">Blog</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Mobile Menu -->
                <div id="mobile-nav">
                    <!-- Mobile Menu Close Button -->
                    <span id="mobile-nav-close-btn">&times;</span>

                    <div id="mobile-nav-content">
                        <ul class="nav">
                            <li><a class="smooth-scroll mynav" routerLink="/">Home</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="about">About</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="quiz">Quiz</a></li>
                            <li><a class="smooth-scroll mynav" href="tutorials">Tutorials</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="games">Games</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="blog">Blog</a></li>
                            <li><a class="smooth-scroll mynav" routerLink="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>
<!-- Header Ends -->