 <app-navbar></app-navbar>
 
 <!-- About -->
  <section id="about">
  
    <!-- About 01 -->
    <div id="about-01">

        <div class="content-box-lg">

            <div class="container">

                <div class="row">

                    <!-- About Left Side -->
                    <div class="col-md-6 col-sm-6 wow slideInLeft" data-wow-duration="1s">

                        <div id="about-left">
                            <div class="vertical-heading">
                                <h5>Who We Are</h5>
                                <h2>A <strong>Story</strong><br>About Us</h2>
                            </div>
                        </div>

                    </div>

                    <!-- About Right Side -->
                    <div class="col-md-6 col-sm-6 wow slideInRight" data-wow-duration="1s">

                        <div id="about-right">
                            <p>Our website designs and ecommerce development services offered to professionals,
                             small businesses, associates and non-profits and others are responsive, accompanied 
                             by new and appropriate technologies through graphic design, user experience or usability, 
                             accessibility and search ability.</p>

                             <p>We Take care of your IT infrastructure and repairs. We can help you with designing, 
                                deploying, and supporting workstation, server hardware, network and security hardware 
                                and software, business continuity and disaster recovery planning, and line of business 
                                application migrations and upgrades. This is perfect for companies that need expert help 
                                with planning network infrastructure, security, or server upgrades.</p>
                        </div>

                    </div>

                </div>

                <!-- About Bottom -->
                <div class="row">

                    <div class="col-md-12 wow fadeInUp" data-wow-duration="2s">

                        <div id="about-bottom">
                            <img src="../../../assets/img/about/gabbenet_about.png" alt="About Us" class="img-responsive">
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- About 01 Ends -->

    <!-- About 02 -->
    <div id="about-02">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-sm-4 wow fadeInLeft">
                        <!-- About item 01 -->
                        <div class="about-item text-center">
                            <i class="fa fa-rocket"></i>
                            <h3>Mission</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eos asperiores nobis molestias nam. Ex quos dicta as.</p>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                        <!-- About item 02 -->
                        <div class="about-item text-center">
                            <i class="fa fa-eye"></i>
                            <h3>Vision</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eos asperiores nobis molestias nam. Ex quos dicta as.</p>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4  wow fadeInRight">
                        <!-- About item 03 -->
                        <div class="about-item text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>Passion</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eos asperiores nobis molestias nam. Ex quos dicta as.</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- About 02 Ends -->

</section>
<!-- About Ends -->

  <!-- Team -->
  <section id="team">
  
    <div class="content-box-lg">

        <div class="container">

            <!-- Team Members -->
            <div class="row">

                <!-- Team Left Side -->
                <div class="col-md-6 col-sm-6 wow slideInLeft" data-wow-duration="1s">

                    <div id="team-left">

                        <div class="vertical-heading">
                            <h5>Who We Are</h5>
                            <h2>Meet Our<br><strong>Talented</strong> Team</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, repellat, eos! Dignissimos expedita totam cum quidem autem alias dolorum error a quia optio eligendi, amet animi reprehenderit, quaerat.</p>

                    </div>

                </div>

                <!-- Team Right Side -->
                <div class="col-md-6 col-sm-6 wow slideInRight" data-wow-duration="1s">

                    <div id="team-members" class="owl-carousel owl-theme">

                        <!-- Member 01 -->
                        <div class="team-member">
                            <img src="../../../assets/img/team/gabe.jpg" alt="team member" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Gabriel Abiah</h6>
                                    <p>Web Developer</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- Member 02 -->
                        <div class="team-member">
                            <img src="../../../assets/img/team/bruce.jpg" alt="team member" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Bruce Serlorm</h6>
                                    <p>Software Developer</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- Member 03 -->
                        <div class="team-member">
                            <img src="../../../assets/img/team/justice.jpg" alt="team member" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Justice Kumi</h6>
                                    <p>Database Administrator</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- Member 04 -->
                        <div class="team-member">
                            <img src="../../../assets/img/team/blankImage.gif" alt="team member" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Obed Tawiah</h6>
                                    <p>Graphic Designer</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- Member 05 -->
                        <div class="team-member">
                            <img src="../../../assets/img/team/blankImage.gif" alt="team member" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Kingley Saviour</h6>
                                    <p>Web Designer</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <!-- Member 06 -->
                        <div class="team-member">
                            <img src="../../../assets/img/team/blankImage.gif" alt="team member" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Abdul-Basit Mohammed</h6>
                                    <p>Cyber Security Officer</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div id="progress-elements">

                <!-- Progress Bars -->
                <div class="row wow fadeInUp">

                    <div class="col-md-6 col-sm-6">

                        <!-- Skill 01 -->
                        <div class="skill">
                            <h4>Software Development</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Skill 02 -->
                        <div class="skill">
                            <h4>Graphic Design</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span>98%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Skill 03 -->
                        <div class="skill">
                            <h4>Web Development</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span>94%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Skill 04 -->
                        <div class="skill">
                            <h4>Cyber Security</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span>70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Skill 05 -->
                        <div class="skill">
                            <h4>Mobile App Development</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span>90%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Skill 06 -->
                        <div class="skill">
                            <h4>Digital Marketing</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>



    </div>

</section>
<!-- Team Ends -->

<div class="onepage">
    <app-footer></app-footer>
</div>