
    <app-navbar></app-navbar>

<section id="home">
  
  <!-- Background Video -->
  <video id="home-bg-video" poster="../../../assets/video/solo.jpg" autoplay loop muted>
      <source src="../../../assets/video/bg.mp4" type="video/mp4">
      <source src="../../../assets/video/solo.ogv" type="video/ogg">
      <source src="../../../assets/video/solo.webm" type="video/webm">
  </video>

  <!-- Overlay -->
  <div id="home-overlay"></div>

  <!-- Home Content -->
  <div id="home-content">

      <div id="home-content-inner" class="text-center">

          <div id="home-heading">
              <h1 id="home-heading-1">COMING <span>SOON</span>!!!</h1><br>
         <!--      <h1 id="home-heading-2">Solution <span>Center</span></h1> -->
          </div>

          <div id="home-text">
              <p>Click the button below to know more about <span>Gabbenet</span></p>
          </div>

          <div id="home-btn">
              <a class="btn btn-general btn-home smooth-scroll" href="#about" title="Start Now" role="button">Read More</a>
          </div>

      </div>

  </div>
</section>
<div class="stick-footer">
<app-footer></app-footer>
</div>